<div class="about-outer">
    <div class="about-text">
        <div class="about-event" data-aos="fade-up">
            <div class="about-heading">
                <h1>About <span class="about-span">The Event</span></h1>
            </div>
            <div class="about-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, augue mattis condimentum gravida ultrices nunc sagittis, faucibus lacus. Ornare urna nibh pellentesque odio senectus habitasse eu enim sit. Urna enim egestas diam nulla sit.</p>
            </div>
        </div>
        <div class="about-nits" data-aos="fade-up">
            <div class="about-heading">
                <h1>About <span class="about-span">NIT Silchar</span></h1>
            </div>
            <div class="about-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, augue mattis condimentum gravida ultrices nunc sagittis, faucibus lacus. Ornare urna nibh pellentesque odio senectus habitasse eu enim sit. Urna enim egestas diam nulla sit.</p>
            </div>
        </div>
    </div>
    <div class="about-anim">
        <div class="logo-circle-l">
            <img src="/logos/about1.svg" alt="" class="about-logo1">
        </div>
        <div class="circle"></div>
        <div class="logo-circle-s">
            <img src="/logos/about2.svg" alt="" class="about-logo2 hidden">
        </div>
    </div>
</div>